In [1]:
import sqlite3
sqlite3.version

'2.6.0'

In [2]:
con=sqlite3.connect('school.db')

In [3]:
cur=con.cursor()

In [4]:
cur.execute("insert into students(fname,lname,adm_no) values('John','Peter',1026)")

In [5]:
#insert
con.commit()

In [6]:
#view for retrieve the data from table students
view=cur.execute("select*from students")

In [7]:
view.fetchall()

[(1, 'John Mary', 'Peter', 1026),
 (2, 'John', 'Peter', 1026),
 (3, 'John', 'Peter', 1026),
 (4, 'John', 'Peter', 1026)]

In [8]:
view_fname=cur.execute("select fname from students")

In [9]:
view_fname.fetchall()

[('John Mary',), ('John',), ('John',), ('John',)]

In [10]:
view_fname.fetchone()

In [11]:
cur.execute('update students set fname="John Mary" where studentid = 1')

In [12]:
con.commit()

In [15]:
cur.execute('delete from students where studentid=1')