In [30]:
import sqlite3
sqlite3.version

'2.6.0'

In [31]:
con=sqlite3.connect('./student.db')

In [32]:
cur=con.cursor()

In [33]:
cur.execute('insert into students(fname,lname,dob,gender,phone) values("victoria","fred","12/12/1984","female","071456789")')

In [34]:
con.commit()

In [35]:
cur.execute('insert into students(fname,lname,dob,gender,phone) values("susan","ndanu","2/05/1990","female","0714456122")')

In [36]:
con.commit()

In [86]:
#cur.execute('insert into students(fname,lname,dob,gender,phone) values("lawrence","maina","2/03/1890","male","0735445612")')
#cur.execute('insert into students(fname,lname,dob,gender,phone) values("shem","maina","2/03/1790","male","0700645612")')

In [87]:
#con.commit()

In [88]:
#cur.fetchall()

[]

In [37]:
cur.execute('select *from students')#is used to retrieve data

In [38]:
cur.fetchall()

[('vic', 'kiptanui', '10/06/1992', 'male', '0720145896'),
 ('fred', 'manu', '21/10/1986', 'male', '0720145896'),
 ('mercy', 'cherono', '10/05/1985', 'female', '0725896523'),
 ('hellen', 'osiemo', '11/06/1988', 'female', '0712456369'),
 ('viola', 'kiptui', '04/05/1988', 'female', '0736789456'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('susan', 'ndanu', '2/05/1990', 'female', '0714456122'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('susan', 'ndanu', '2/05/1990', 'female', '0714456122')]

In [39]:
cur.fetchone()

In [56]:
cur.execute('select * from students where phone="0725896523" ')

In [57]:
cur.fetchone()

('mercy', 'cherono', '10/05/1985', 'female', '0725896523')

In [58]:
cur.execute('select * from students where lname like "%d" ')

In [69]:
cur.fetchall()

[('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789')]

In [70]:
cur.execute('select * from students where phone like"072%" ')

In [71]:
cur.fetchall()

[('vic', 'kiptanui', '10/06/1992', 'male', '0720145896'),
 ('fred', 'manu', '21/10/1986', 'male', '0720145896'),
 ('mercy', 'cherono', '10/05/1985', 'female', '0725896523')]

In [72]:
cur.execute('select * from students where dob like"%4" ')

In [73]:
cur.fetchall()

[('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789')]

In [74]:
cur.execute('select * from students where lname like"%red" ')

In [75]:
cur.fetchall()

[('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789'),
 ('victoria', 'fred', '12/12/1984', 'female', '071456789')]

In [82]:
cur.execute('update students set lname=" james" where fname="victoria"')

In [83]:
con.commit()

In [91]:
cur.execute('delete from students where fname="victoria"')

In [92]:
con.commit()