# data frames exercises

In [5]:
import pandas as pd
import numpy as np

In [6]:
from numpy.random import randn
np.random.seed(101)

In [8]:
weather = pd.DataFrame(randn(5,4),index='mon tue wen thur fri'.split(),
                       columns='wind temp humidity rainfall'.split())

In [9]:
weather

          wind      temp  humidity  rainfall
mon   2.706850  0.628133  0.907969  0.503826
tue   0.651118 -0.319318 -0.848077  0.605965
wen  -2.018168  0.740122  0.528813 -0.589001
thur  0.188695 -0.758872 -0.933237  0.955057
fri   0.190794  1.978757  2.605967  0.683509

In [13]:
weather["wind"].mean()

0.34385783502535094

In [15]:
weather

          wind      temp  humidity  rainfall
mon   2.706850  0.628133  0.907969  0.503826
tue   0.651118 -0.319318 -0.848077  0.605965
wen  -2.018168  0.740122  0.528813 -0.589001
thur  0.188695 -0.758872 -0.933237  0.955057
fri   0.190794  1.978757  2.605967  0.683509

In [16]:
weather[['wind','temp']]

          wind      temp
mon   2.706850  0.628133
tue   0.651118 -0.319318
wen  -2.018168  0.740122
thur  0.188695 -0.758872
fri   0.190794  1.978757

In [18]:
weather['rainfall2']= weather ['wind']+ weather ['humidity']

In [19]:
weather["temp_mean"]= weather ["temp"].mean ()
weather

          wind      temp  humidity  rainfall  rainfall2  temp_mean
mon   2.706850  0.628133  0.907969  0.503826   3.614819   0.453764
tue   0.651118 -0.319318 -0.848077  0.605965  -0.196959   0.453764
wen  -2.018168  0.740122  0.528813 -0.589001  -1.489355   0.453764
thur  0.188695 -0.758872 -0.933237  0.955057  -0.744542   0.453764
fri   0.190794  1.978757  2.605967  0.683509   2.796762   0.453764

In [20]:
weather.drop ('rainfall2',axis=1)

          wind      temp  humidity  rainfall  temp_mean
mon   2.706850  0.628133  0.907969  0.503826   0.453764
tue   0.651118 -0.319318 -0.848077  0.605965   0.453764
wen  -2.018168  0.740122  0.528813 -0.589001   0.453764
thur  0.188695 -0.758872 -0.933237  0.955057   0.453764
fri   0.190794  1.978757  2.605967  0.683509   0.453764

In [25]:
weather2 = weather.drop('rainfall2',axis=1,inplace=True)
weather2

In [26]:
weather.drop ('mon',)

          wind      temp  humidity  temp_mean
tue   0.651118 -0.319318 -0.848077   0.453764
wen  -2.018168  0.740122  0.528813   0.453764
thur  0.188695 -0.758872 -0.933237   0.453764
fri   0.190794  1.978757  2.605967   0.453764

In [7]:
def= weather.drop('thur''fri')
weather

SyntaxError: invalid syntax (<ipython-input-7-fbaab426920c>, line 1)