In [1]:
import sqlite3
sqlite3.version

'2.6.0'

In [2]:
con=sqlite3.connect('schools')

In [3]:
cur=con.cursor()

In [4]:
cur.execute("create table students(fname TEXT,lname TEXT, adm_no INTEGER)")

OperationalError: table students already exists

In [5]:
cur.execute("insert into students(fname,lname,adm_no+)values('John','Peter',1206)")

In [6]:
cur.execute("insert into students(fname,lname,adm_no)values('Mary','Fred',1408)")

In [7]:
con.commit()

In [8]:
view=cur.execute("select * from students")

In [9]:
view.fetchall()

[('John', 'Peter', 1206),
 ('Mary', 'Fred', 1408),
 ('Mary', 'Fred', 1408),
 ('John', 'Peter', 1206),
 ('Mary', 'Fred', 1408),
 ('John', 'Peter', 1206),
 ('Mary', 'Fred', 1408)]

In [10]:
def getuser(fname):
    view=cur.execute("select * from students where fname='{}'".format(fname))
    print(view.fetchone())

In [11]:
getuser('John')

('John', 'Peter', 1206)

In [12]:
getuser('Mary')

('Mary', 'Fred', 1408)

In [13]:
view2=cur.execute("select adm_no from students where fname='John'")

In [14]:
view2.fetchone()

(1206,)

In [15]:
view3=cur.execute("delete  from students where fname ='fred'")

In [16]:
getuser('Fred')

None

In [17]:
view4=cur.execute("Update students set lname='Upate Name'where fname='John'")

In [18]:
getuser('John')

('John', 'Upate Name', 1206)