## *This* is my first python program

In [2]:
print("hello world")

hello world

In [3]:
print('my name is fay')

my name is fay

In [4]:
print('name your place of work')

name your place of work

In [5]:
print('what do you do for a living ')

what do you do for a living

In [6]:
print('what do you do for a living ')
print('data analyst')

what do you do for a living
data analyst

variable

string constants

# conditional steps

ONE-WAY DECISIONS

In [7]:
x=5

In [8]:
if x==5:
    print('equals to 5')

equals to 5

In [9]:
score = 67
if score < 70:
    print('less than 70')

less than 70

In [10]:
if score > 67:
    print('Greater than 67')

In [11]:
if score == 67:#it will just round off or vice versa i.e67
    print('equals to')

equals to

In [12]:
if score != 100:#it will excute to false but excute wen true 
    #that wenscore is 67 and also regardless of indent it will still excute.
    #wen  you indent it will be part of the condition
       print('Not equal')
       print('yes')

Not equal
yes

TWO-WAY DECISON - NESTED IF

In [13]:
X=10#it will print the second statement 
#coz the first condition is not met i.e false
if x>10:
    print('bigger')
else:
    print('smaller')

smaller

MULTI-WAY CONDITION

In [14]:
#grade=int(grade)

In [29]:
#
try:
    grade =int(input("enter your grade"))
    if grade<40:
        print('grade fail')
    elif grade<50:
        print('grade D')
    elif grade<60:
        print('grade C')
    elif grade<70:
        print('grade B')
    else:
        print('greater than 70')
except:
        print(" you have not entered a numerical value")

enter your grade40.2
 you have not entered a numerical value

# type-casting converting one data-type to another

In [16]:
onetwothree='123'

In [17]:
type(onetwothree)

str

In [18]:
onetwothree_int=int(onetwothree)

In [19]:
onetwothree_int

123

In [20]:
onetwothree_float=float(onetwothree)

In [21]:
onetwothree_float

123.0

In [22]:
type(onetwothree)

str

# THE TRY/ EXCEPT STRUCTURE

In [23]:
#wen the first conversion fails- it just drops into the except clause & the program continues.
astr='hello bob '# or 123'CANT BE CONVERTED COZ ITS A STRING AND INT IT CAN ONLY CONVERT INT &INT
try:
    istr= int(astr)
except:
    istr=-1
    print('first',istr)
    
astr='123'
try:
    istr= int(astr)
#WILL PRINT AN INT COZ WE KNOW WHETHER THE user wanted to input a one
except:
    istr=-1
print('second',istr)

first -1
second 123

In [24]:
try:
    string_age = input("enter you age: ")
    float_age = float(string_age)
    print("you're",float_age," years old")
except:
    print("you have not entered a numerical age")

enter you age: 25
you're 25.0  years old