In [1]:
x=2
y=3
sum=x+y
print(sum)

5

In [2]:
a=100
b=1000
sum=a+b
print(sum)

1100

In [3]:
c=10000000
d=1000000000
sum=(c+d)
print(sum)

1010000000

# functions

In [5]:
big=max('Hello world')#max is not affected by spaces,caps
print(big)

w

In [15]:
big=min('helloworld')#min is affected by spaces
big

'd'

In [16]:
tiny=min('helloworld')#a string arguement called hello world
print(tiny)

d

In [21]:
def print_chorus():#a function can store and reuse it.
    print('jesus you love me, too much')
    print('jesu you love me so much, too much oh')
    print('jesus you love to much oh oh, too much ooooh')
    print('jesus you love to much oooh oh, too much oh')
    print('jesus you love me, too much oh excess love oh')
print(print_chorus())
print(print_chorus())
print(print_chorus())#it calls or invoke it three times i.e the chorus

jesus you love me, too much
jesu you love me so much, too much oh
jesus you love to much oh oh, too much ooooh
jesus you love to much oooh oh, too much oh
jesus you love me, too much oh excess love oh
None
jesus you love me, too much
jesu you love me so much, too much oh
jesus you love to much oh oh, too much ooooh
jesus you love to much oooh oh, too much oh
jesus you love me, too much oh excess love oh
None
jesus you love me, too much
jesu you love me so much, too much oh
jesus you love to much oh oh, too much ooooh
jesus you love to much oooh oh, too much oh
jesus you love me, too much oh excess love oh
None

In [44]:
def hello_world(name):
    print("hello world",name)
hello_world(123)
hello_world('faith')

hello world 123
hello world faith

In [43]:
def sum(a,b):
    print('sum',a+b)
sum=a+b
print(sum)

1100

In [46]:
def myname(name):
    print('my name',name)
myname('fay')
myname(123)

my name fay
my name 123

a void function

In [9]:
def total(a,b):#declare the function total and in the paranthesis 
    #we have two parameters a and b as our arquements
    print('sum :',a+b)
total(10,20)#call the function at the end.

sum : 30

In [10]:
total(200,300)#we can call a function as many times as possible n pass in the arquements

sum : 500

return value function also called "fruitful function"

In [11]:
def total_return(a,b):
    return a+b

In [19]:
print(total(100,200))

sum : 300
None

In [17]:
total_return(100,200)

300

In [31]:
 sum =total_return(100,200)

In [32]:
sum

300

In [18]:
test_return

In [34]:
test_return=total_return(100,200)#sum is assigned to the test return

In [35]:
test_return

300

In [ ]:
multiple parameters

In [29]:
def add_five(a,b,c,d,e):
    return a+b+c+d+e

In [21]:
add_five(1,2,3,4,5)#call the function pass arguements

15

In [30]:
print(add_five(10,20,30,40,50))#whenever you call your function it will be the same
five=add_five(10,20,30,40,50)

150

In [24]:
print(add_five(10,20,30,40,50))#print the results

150

In [25]:
five=add_five(10,20,30,40,50)#sum is assigned to a new variable five

In [26]:
print(five)

150

# SUMMARY ON FUNCTIONS
fuctions                                     arquements
results
built-functions                             void(non_fruitful)functions
    1.type conversions(int,float)                 why use functions?
    2.string conversions
parameters

In [8]:
def printfunction(num):
    num=num*2
print(20)

20

In [13]:
def returnfunction(num):
    num=2+2
    return num

In [14]:
def printfunction(num)
num=num*2
print(num)

SyntaxError: invalid syntax (<ipython-input-14-cd19f4b1ecc4>, line 1)