# Question 1

In [1]:
for i in range(0,10+1):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100

# Question 2

In [4]:
for i in range(0,100+1):
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Question 3

In [2]:
Even = 0
for i in range(0,10+1):
    if i%2 == 0:
        Even = Even + b
    print(Even)

0
0
2
2
6
6
12
12
20
20
30

# Question 4

In [5]:
fact = 1
num = int(input("Enter your number: "))
for i in range(1,num+1):
    fact = fact*i
print(fact)

Enter your number: 6
720

# Question 5

In [6]:
num = int(input("Enter a number : "))
for i in range(1,num+1):
    print("*"*i)

Enter a number : 4
*
**
***
****

# Question 6

In [7]:
num = int(input("Enter the number: "))
for i in range(1,num+1):
    print(str(i)*i)

Enter the number: 10
1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010

# Question 7

In [13]:
num = int(input("Enter  number: "))
for i in range(2,num+1):
    if num%2 ==0 and num != 1:
        print("not a prime .")
        break
    else:
        print(" a prime .")
        break

Enter  number: 7
 a prime .

# Question 8

In [21]:
count=0
for i in range(2,100+1):
    if i%2!=0 and i%3!=0 and i%5!= 0:
        count=count+1
print(count)

25

# Question 9

In [23]:
fibbonacci1 = 1
fibbonacci2 = 1
print(fibbonacci1)
print(fibbonacci2)
for i in range(0,10):
    fib2 = fibbonacci1 + fibbonacci2
    fib1 = fibbonacci2-fibbonacci1
    print(fib2)

1
1
2
2
2
2
2
2
2
2
2
2